.certificates-body{
    background: linear-gradient(90deg, rgba(204,126,39,1) 38%, rgba(244,3,3,1) 100%);
}

.slide-row {
    display: flex;
    width: 6000px;
    transition: 0.5s;
}

.slide-col {
    width: 900px;
    height: 550px;
    position: relative;
    margin-top: 35px;
    transition: 1s;
}

.cert-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.cert-img img {
    width: 383px;
    height: auto;
}

.cert-text {
    background-color: grey;
    width: 470px;
    height: 320px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: white;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

.slide-container {
    width: 1300px;
    height: 650px;
   
}

.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

.btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #dd3535;
    cursor: pointer;
    transition: 0.4s;
}

.active{
    width: 40px;
}



.slide-col{
    margin-left: 90px;

}

.slider{
    width: 980px;
    height: 650px;
    overflow: hidden;
    
}