@media (width < 1570px ) {
    /* home-page -----------------------------                */
    /* .container{
        width: 1000px;
        height: 600px;
    } */

    /* .biggest-heading{
        font-size: 40px;
    }

    .aboutme-article ul li{
        font-size: 0.8em;
    } */

    .aboutme-article p{

    }
}